@inherits Umbraco.Web.Macros.PartialViewMacroPage

@using bookmark_manager.Classes;

@{
    Layout = null;

    IEnumerable<IContent> bookmarks;
    string title = "All Bookmarks";

    // Get all bookmarks or all bookmarks that have the specified tag
    var tagParam = Request.Params["tag"];
    if (tagParam == null)
    {
        bookmarks = BookmarkManagerHelpers.GetBookmarksForCurrentMember(Members.GetCurrentMemberId());
    }
    else
    {
        title = tagParam;
        bookmarks = BookmarkManagerHelpers.GetBookmarksForCurrentMember(Members.GetCurrentMemberId(), tagParam.ToString());
    }
}

<div class="content">
    <div class="toolbar">
        <a class="navbar-brand" href="#">
            @title
        </a>  
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@Umbraco.NiceUrl(BookmarkManagerHelpers.GetFirstNodeIdForContentType(BookmarkManagerHelpers.BOOKMARK_FORM))">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </li>
        </ul>
    </div>

    <ul class="bookmark-list">
        @{
            foreach (var bookmark in bookmarks)
            {
                <li>@Umbraco.RenderMacro("singleBookmark", new { bookmarkId = bookmark.Id })</li>
            }
        }
    </ul>
</div>