@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using umbraco.cms.businesslogic.member;
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;

}

@if (!umbraco.library.IsLoggedOn())
{
    Response.Redirect("/");
    return;
}
else
{
    <div class="content">
        <div class="toolbar">
            <a class="navbar-brand" href="/bookmarks">
                <!-- TODO Tag name -->
                All Bookmarks
            </a>  
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-plus"></span></a></li>
            </ul>
        </div>

        <ul class="bookmark-list">
            @{
                var bookmarksRootAlias = "bookmarks";
                var memberIdAlias = "memberId";

                var cs = ApplicationContext.Services.ContentService;
                var rootNodes = cs.GetRootContent();
                var bookmarks = rootNodes.Where(x => x.ContentType.Alias == bookmarksRootAlias).First();
                var userBookmarks = bookmarks.Children().Where(x => x.GetValue<int>(memberIdAlias) == Members.GetCurrentMemberId()).First();
                foreach (var bookmark in userBookmarks.Children())
                {
                    <li>@Umbraco.RenderMacro("singleBookmark", new { bookmarkId = bookmark.Id })</li>
                }
            }
        </ul>
    </div>
}



