@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using umbraco.cms.businesslogic.member;
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;



    <h1>Hier kommen dann die Bookmarks hin</h1>


    if (umbraco.library.IsLoggedOn()) {
        var currentMember = Members.GetCurrentMember();
        IEnumerable<IContent> bookmarks = CurrentPage.Site().Children("bookmarks");
    }


    <ul class="bookmark-list">
        foreach(var node in 
    </ul>
}