@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using umbraco.cms.businesslogic.member;
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;



    <h1>Hier kommen dann die Bookmarks hin</h1>


    if (umbraco.library.IsLoggedOn()) {
        var currentMemberId = Members.GetCurrentMemberId();
        IContent userBookmarks = CurrentPage
            .Site()
            .Children("bookmarks")
            .Where(x => x.memberId == currentMemberId)
            .first();
    } else {
        //Redirect oder so, falls es nicht etwas wie das authenticate: user! gibt
    }


    <ul class="bookmark-list">
        foreach(var node in 
    </ul>
}