@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using umbraco.cms.businesslogic.member;
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;

}



<h1>Hier kommen dann die Bookmarks hin</h1>

@if (!umbraco.library.IsLoggedOn()) {
    //Redirect oder so, falls es nicht etwas wie das authenticate: user! gibt
    Response.Redirect("/login");
    // => geht nicht richtig!
}

<div class="content">

    <ul class="bookmark-list">

        @{
            var cs = ApplicationContext.Services.ContentService;
            var rootNodes = cs.GetRootContent();
            var bookmarks = rootNodes.Where(x => x.ContentType.Alias == "bookmarks").First();
            var userBookmarks = bookmarks.Children().Where(x => x.GetValue<int>("memberId") == Members.GetCurrentMemberId()).First(); //.Where(x => x.MemberId == Members.GetCurrentMemberId());
            foreach (var bookmark in userBookmarks.Children()) {
                <li>@Umbraco.RenderMacro("singleBookmark", new { bookmarkId = bookmark.Id })</li>
            }

        }

    </ul>
</div>


