@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@using bookmark_manager.Classes
@{
    var loginStatusModel = Members.GetCurrentLoginStatus();

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");

    var logoutModel = new PostRedirectModel();

    logoutModel.RedirectUrl = "/";

    @*
        Here you can specify a redirect URL for after logging out, by default umbraco will simply
        redirect to the current page. Example to redirect to the home page:

        logoutModel.RedirectUrl = "/";
    *@
}
@* NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed *@
@Html.RenderJsHere()
@if (loginStatusModel.IsLoggedIn) {
    <div class="navbar-right">
        <ul class="nav navbar-left navbar-nav">
            <li>
                @{ 
                    var memberSettings = BookmarkManagerHelpers.GetIdOfFirstRootContentNode(BookmarkManagerHelpers.MEMBER_SETTINGS);
                    var memberSettingsUrl = Umbraco.NiceUrl(memberSettings);

                    <a href="@memberSettingsUrl">
                    <span class="glyphicon glyphicon-user"></span>
                    @loginStatusModel.Name
                    </a>
                }
            </li>
        </ul>
            

        @using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout", new { }, new { @class = "navbar-form navbar-left" }))
        {
        <div class="form-group">
            <button class="btn btn-primary"><span class="glyphicon glyphicon-log-out"></span></button>
            @Html.HiddenFor(m => logoutModel.RedirectUrl)
        </div>
        }
    </div>
}