@inherits Umbraco.Web.Macros.PartialViewMacroPage

<div class="sidebar">
    <div class="toolbar">
        <span class="navbar-brand">Tags</span>
        <!-- TODO Wird eigentlich nicht benötigt, wenn wir die Tags über dieses Tag-Control machen, oder? -->
        <!-- <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-plus"></span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-edit"></span></a></li>
        </ul> -->
    </div>

    <ul class="sidebar-list">
        <li><a href="/bookmarks">All Bookmarks</a></li>
        <!-- TODO Tag-Liste -->
    </ul>
</div>
