
.label-default {
    background-color: #777777;
}

.label-danger {
    background-color: #e74c3c;
}

.label-primary {
    background-color: #2980b9;
}

.label-info {
    background-color: #3498db;
}

.label-warning {
    background-color: #f39c12;
}

.label-success {
    background-color: #33ce74;
}